/*   color theme

#800020 Burgundy
#d09ea9 
#d1e7e0
#ffe4e2
#564146
*/

/* Google fonts  */


@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=LXGW+WenKai+Mono+TC&family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');


/* General styles */
body {
    font-family: "Sora", sans-serif;
    background-color: #800020;

}


nav .container {
    background-color: #800020 !important;
    color: #800020 !important;
}

h1,
h2 {
    font-family: "DM Serif Display", serif;
    color: #800020;

}

.sharp-corners,
.sharp-corners * {
    border-radius: 0;
}

/* Modal */
.custom-btn {
    background-color: #800020;
    color: #ffe4e2;
    border: #ffe4e2;
    border-radius: 0;
}

.custom-btn:hover {
    background-color: #d09ea9;
    border: #800020;
}

.custom-btn:focus {
    background-color: #d09ea9 !important;
    border: #800020 !important;
}

#home,
#about,
#heritage,
#classes,
#contact,
#form,
#subscribe {
    background-color: #ffe4e2;
}

/* Header */

#hero {
    background-color: #ffe4e2;
    background-image: url("../images/hero-image.webp");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 700px;
    padding: 5% 7%;
}

/* classes */

#classes .card-title {
    color: #800020;
    font-size: 1.2rem;
}


#classes .card-text {
    min-height: 120px;

}

/* Form */
.form-background {
    background-image: url('../images/form-image.jpg'); 
    background-size: cover;         
    background-repeat: no-repeat;     
    background-position: center;      /* Centers image within container */
    padding: 2rem;                    /* Optional padding for spacing */
}


#signup-form {
    color: #ffe4e2;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}


#signup-form>h2 {
    color: #ffe4e2;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #ffe4e2;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffe4e2;
    border-radius: 2px;
    padding: 0 5px;
}


.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.custom-select {
    background: transparent;
    color: #ffe4e2;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffe4e2;
    border-radius: 2px;
    padding: 0 5px;
    border-radius: 0;
}

.custom-select option {
    background-color: rgba(5, 5, 5, 0.5) !important;
    color: #ffe4e2;
    border-radius: 0;
}

.custom-select option:checked {
    background-color: rgba(5, 5, 5, 0.5) !important;
    color: #800020 !important;
}

/* Media Queries */

/* #about>p in medium screens */
@media screen and (max-width: 768px) {
    #about>p {
        margin-top: 0;
        padding-top: 0;
    }

}

/* Media query to make hero image show chef's face om mobile screend */
@media screen and (max-width: 320px) {
    #hero {
        background-position: 65%;
        background-repeat: no-repeat;
    }
}

/* booking.html form radio on medium and small screens */
@media (max-width: 992px) { /* Applies to screens <= 992px (Bootstrap's "md" breakpoint) */
    .radio-buttons {
        flex-direction: column; /* Stack radio buttons vertically */
        gap: 0.5rem;
    }
}